#skillSection-panels:hover {
    background-color: #479547;
}

#skillSection-panels:hover > h4 {
    color: white;
}

#skillSection-panels:hover > #items {
    color: white;
}

hr {
    display: block;
    position: relative;
    padding: 0;
    margin: 8px auto;
    height: 0;
    width: 100%;
    max-height: 0;
    max-width: 35%;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #ffffff;
}